.additionally__title {
  display: inline-block;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: $black;
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 0 36px;
    margin: 0 0 80px 0;
  }
}

.additionally__title::after {
  position: absolute;
  content: "";
  // width: 100vw;
  height: 2px;
  background-color: $green;
  z-index: -1;
  left: calc(100% + 22px);
  top: 59%;
}

.additionally__container {
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 75px 0;
  }
}

.additionally__list {
  margin: 0 0 35px 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid $darkbasegrey;

  @media (min-width: $tablet-width) {
    margin: 0 0 69px 0;
  }
}

.additionally__item {
  padding: 0 0 18px;
  border-bottom: 1px solid $darkbasegrey;

  @media (min-width: $tablet-width) {
    padding: 26px 39px 27px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid $darkbasegrey;
    border-right: 1px solid $darkbasegrey;
  }
}

.additionally__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $accentgrey;
  text-transform: uppercase;
  padding: 12px 0 0;
  margin: 0 0 13px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0 0 25px 0;
  }

  &--space-top {
    padding: 15px 0 0;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}


.additionally__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 23px 0;
  }

  &--space {
    margin: 0 0 21px 0;
  }
}

.additionally__name,
.additionally__value {
  font-family: $second-font;
  font-size: 14px;
  line-height: 14px;
  color: $darkgrey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additionally__value {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 53px;
  }
}

.additionally__value--space {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 60px;
  }
}

.additionally__gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-cat.png");
  background-repeat: no-repeat;
  padding: 59px 0 44px;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-cat@2x.png");
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-cat-tablet.png");
    padding: 57px 124px 60px 77px;
    max-height: 200px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-cat-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-cat.png");
    padding: 59px 0 28px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/gift-cat@2x.png");
    }
  }
}

.additionally__icon {
  margin: 0 0 48px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 80px;
    height: 83px;
  }
}

.additionally__text {
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  max-width: 161px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}
