.advantages__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $black;
  margin: 0 0 41px 2px;
}

.advantages__list {
  padding: 0;
  list-style-type: none;
  margin: 0 0 49px 1px;
}

.advantages__item {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.advantages__text {
  font-family: $second-font;
  margin: 0;
}

.advantages__image {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin: 0 20px 0 0;
  background-color: $green;
}

.advantages__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.advantages__number {
  display: none;
}
