.catalog {
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 68px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 74px 0;
  }
}

.catalog__title {
  padding: 27px 20px 41px;
  border-bottom: 1px solid $silvergrey;
  border-top: 1px solid $silvergrey;
  margin: 0 -20px;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0 0 163px 0;
    padding: 61px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 0;
  }
}


.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 141px;
  }
}

.catalog__item {
  display: grid;
  padding: 19px 20px 25px;
  border-bottom: 1px solid $lightgrey;
  margin: 0 -20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $generalgrey;
    padding: 0 39px 39px 38px;
    justify-content: flex-end;
    margin: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 36px 39px 39px;
  }

  &--more {
    padding: 39px 20px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
      background-color: $white;
      border: 2px solid $generalgrey;
      padding: 37px 37px;
    }
  }
}

.catalog__link-image {
  display: block;
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 12px auto 0;

  @media (min-width: $tablet-width) {
    margin: -77px auto 31px;
  }

  @media (min-width: $desktop-width) {
    margin: -76px auto 46px;
  }

  &--space-m {
    margin: 25px auto 0;

    @media (min-width: $tablet-width) {
      margin: -47px auto 34px;
    }

    @media (min-width: $desktop-width) {
      margin: -50px auto 42px;
    }
  }

  &--space-l {
    margin: 30px auto 0;

    @media (min-width: $tablet-width) {
      margin: -43px auto 32px;
    }

    @media (min-width: $desktop-width) {
      margin: -47px auto 43px;
    }
  }
}

.catalog__image {
  display: block;
  width: auto;
}

.catalog__link-text {
  display: block;
  grid-column: 2/-1;
  max-width: 99px;

  @media (min-width: $tablet-width) {
    margin: 0 -3px 21px 0;
    max-width: 180px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 -6px 22px 0;
  }
}

.catalog__link-title {
  color: $accentgrey;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 14px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    max-width: 158px;
    text-align: center;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.catalog__specification {
  margin: 0 0 13px 0;
  padding: 0 0 9px 0;
  grid-column: 2/-1;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 0 28px;
    width: 100%;
  }
}

.catalog__specification-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 0 0 8px;
    margin: 0 0 6px;
    border-bottom: 1px solid $darkbasegrey;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 9px;
  }
}

.catalog__specification-wrapper:last-child {
  @media (min-width: $tablet-width) {
    padding: 0 0 9px;
    margin: 0 0 6px;
  }
}

.catalog__specification-name,
.catalog__specification-value {
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog__specification-value {
  margin: 0;
  padding: 0 0 0 20px;

  &--space {
    @media (min-width: $tablet-width) {
      padding: 0 6px 0 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 2px 0 20px;
    }
  }
}

.catalog__decor {
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  background-color: $basegrey;
  margin: 0 0 39px 0;

  @media (min-width: $tablet-width) {
    width: 60px;
    margin: 0 0 78px;
  }
}

.catalog__link {
  grid-column: 1/-1;
}

.catalog__decor::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: $basegrey;
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    width: 60px;
  }
}

.catalog__text {
  font-size: 16px;
  line-height: 20px;
  color: $additionalgrey;
  margin: 0 0 8px 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 21px;
    max-width: 136px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 24px;
  }
}

.catalog__subtext {
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 88px;
    max-width: 170px;
    text-align: center;
  }
}
