.header__logo {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 0 14px;
  z-index: 4;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.header__logo:focus-visible {
  opacity: 0.8;
  outline: none;
}

.header__logo-image {
  margin: 0 57px 0 0;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0 12px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 14px 0 0;
  }
}
