.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }

  &--special {
    color: $white;

    @media (min-width: $tablet-width) {
      color: $black;
      margin: 0 0 0 88px;
      max-width: 414px;
    }
  }
}
