$main-font: "Oswald", "Arial", sans-serif;
$main-fontmedium: "Oswald", "Arial", sans-serif;
$second-font: "Lato", "Arial", sans-serif;
$white:#ffffff;
$generalgrey: #f2f2f2;
$darkgeneralgrey: #eaeaea;
$lightgrey: #ebebeb;
$silvergrey: #d9d9d9;
$lightsilvergrey: #e6e6e6;
$grey: #e7e7e7;
$additionalgrey: #111111;
$basegrey: #d3d3d3;
$darkbasegrey: #cdcdcd;
$darkgrey: #444444;
$accentgrey: #222222;
$dimgrey: #666666;
$lightdimgrey: #6b6b6b;
$darkdimgrey: #c4c4c4;
$disabledgrey: #bababa;
$eclipse: #3e3e3e;
$black: #000000;
$green: #68b738;
$accentgreen: #5eaa2f;
$error: #ff8282;
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 320px;
